*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', arial, sans-serif;
}

main{
	background-image: radial-gradient(#FBFBF7, #E1EEF1);
	position: relative;
	margin: 5px auto;
	width: 550px;
	height: 450px;
    border: 2px solid lightgray;
}

.base{
	position: absolute;
	bottom: 0px;
	left: 35px;
	width: 110px;
	height: 90px;
	border: 1px solid darkred;
	border-radius: 50px 50px 0 0;
	background-image: linear-gradient(#FC5401, #F97322);
}

.braco1{
	position: absolute;
	bottom: 50px;
	left: 65px;
	width: 50px;
	height: 200px;	
	border: 1px solid darkred;
	transform-origin: 25px bottom;
	border-radius: 25px;
	background-image: linear-gradient(#FC5401, #F97322);
}

.braco2{
	position: absolute;
	left: -5px;
	bottom: 155px;
	width: 50px;
	height: 200px;
	transform: rotate(90deg);
	border: 1px solid darkred;
	transform-origin: 50% 90% 0;
    border-radius: 25px;
    background-image: linear-gradient(#FC5401, #F97322);
}

.painel{
	width: 330px;
	height: 70px;
	margin: 5px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.painel button{
    font-size: 1.1rem;
    font-weight: bold;
	width: 65px;
	height: 30px;
}

.pinca{
	position: relative;
	bottom: 65px;
	left: -20px;
	width: 90px;
	height: 90px;
	border-radius: 5px 5px 20px 20px;
	border: 1px solid darkred;
	background-image: linear-gradient(#FEA914, #FCB943);
}

.ponta-pinca1{
	width: 20px;
	height: 70px;
	position: relative;
	left: 65px;
	bottom: 70px;
	border-radius: 5px 5px 0 0;
	border: 1px solid #565656;
	background-image: linear-gradient(90deg, #DDE4FA, #BCBCBC);
}

.ponta-pinca2{
	width: 20px;
	height: 70px;
	position: relative;
	left: 5px;
	bottom: 140px;
	border-radius: 5px 5px 0 0;
	border: 1px solid #565656;
	background-image: linear-gradient(90deg, #DDE4FA, #BCBCBC);
}

.objeto{
	position: relative;
	top: 405px;
	left: 250px;
	width: 26px;
	height: 44px;
	border: 1px solid #686969;
	border-radius: 7px 7px 2px 2px;
	background-image: linear-gradient(90deg, #B6B9B8, #EEF1F0 ,#B6B9B8);
}

.objetoC{
	position: absolute;
	bottom: 139px;
	left: 32px;
	width: 26px;
	height: 44px;
	border: 1px solid #686969;
	border-radius: 7px 7px 2px 2px;
	transform: rotate(180deg);
	background-image: linear-gradient(90deg, #B6B9B8, #EEF1F0 ,#B6B9B8);
}

.objetoM{
	position: absolute;
	top: 345px;
	left: 370px;
	width: 26px;
	height: 44px;
	border: 1px solid #686969;
	background-image: linear-gradient(90deg, #B6B9B8, #EEF1F0 ,#B6B9B8);
	border-radius: 7px 7px 2px 2px;
}

.mesa{
	position: absolute;
	bottom: 0;
	right: 120px;
	width: 95px;
	height: 58px;
	border: 5px solid darkgray;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
}

.led{position: absolute;
	left: 42%;
	top: 10px;
	width: 15px;
	height: 15px;
	border: 1px solid #89BB95;
	border-radius: 50%;
	background-color: #44704A;
}




