*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', arial, sans-serif;
}

main{
	position: relative;
	margin: 20px auto;
	width: 700px;
	height: 600px;
    border: 1px solid lightgray;
}

.base{
	position: absolute;
	bottom: 0px;
	left: 20px;
	width: 150px;
	height: 80px;
	border: 1px solid orange;
	border-radius: 10px 10px 0 0;
	background-image: linear-gradient(#DA5B4A, #C80808);
}

.braco1{
	position: absolute;
	bottom: -220px;
	left: 55px;
	width: 80px;
	height: 600px;	
}

.braco1-img{
	width: 100%;
	height: 50%;
	background-image: linear-gradient(90deg, #DA5B4A, #C80808);
	border-radius: 40px;
}

.braco2{
	position: absolute;
	left: -36px;
	bottom: 260px;
	width: 80px;
	height: 600px;
	transform: rotate(90deg);
}

.braco2-img{
	width: 100%;
	height: 50%;
	background-image: linear-gradient(90deg, #DC853D, #BE5B08);
	border-radius: 40px;
}

.painel{
	width: 500px;
	margin: 5px auto;
	display: flex;
	justify-content: space-around;
}

.painel button{
	width: 40px;
	height: 25px;
}

.pinca{
	position: relative;
	bottom: 95px;
	left: -5px;
	width: 100px;
	height: 100px;
	background-image: linear-gradient(#BB820F, #E7AE3E);
	border-radius: 20%;
}

.ponta-pinca1{
	width: 35px;
	height: 110px;
	position: relative;
	left: 10px;
	bottom: 85px;
	background-image: linear-gradient(90deg, #6F7E85, #ACBFC8);
	border-radius: 5px;
	z-index: -1;

}

.ponta-pinca2{
	width: 35px;
	height: 110px;
	position: relative;
	left: 55px;
	bottom: 195px;
	background-image: linear-gradient(90deg,#ACBFC8, #6F7E85);
	border-radius: 5px;
	z-index: -1;

}




